<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <bindings>
            <netPeerTcpBinding>
                <binding name="PeerTcpConfig" port="0">
                    <resolver mode="Custom">
                        <custom address="net.tcp://127.0.0.1:9877/Resolver" binding="netTcpBinding"
                            bindingConfiguration="myBinding" />
                    </resolver>
                    <security mode="None" />
                </binding>
            </netPeerTcpBinding>
            <netTcpBinding>
                <binding name="myBinding" sendTimeout="00:00:05">
                    <reliableSession inactivityTimeout="00:01:00" enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IChatter" sendTimeout="00:01:10">
                    <reliableSession inactivityTimeout="00:01:00" enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IRegister">
                    <reliableSession inactivityTimeout="00:01:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:9877/ChatterService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatter" contract="ChatterService.IChatter"
                name="NetTcpBinding_IChatter" />
            <endpoint binding="netPeerTcpBinding" bindingConfiguration="PeerTcpConfig"
                contract="Chatter.MetroClient.P2P.IP2PChatService" name="p2p" />
            <endpoint address="net.tcp://127.0.0.1:9877/RegisterService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegister"
                contract="RegisterService.IRegister" name="NetTcpBinding_IRegister" />
        </client>
    </system.serviceModel>

<appSettings> 
    <add key="IsSupportGroup" value="true"/> 
  </appSettings>




  
</configuration>
