<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://127.0.0.1:998/ChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatService" contract="IChatService"
                name="">
                <identity>
                    <userPrincipalName value="GAO\Administrator" />
                </identity>
            </endpoint>
        </client>
      <bindings>
        <!--这里的sendTimeout比服务端的要多出4秒，因为服务端不参入具体通信，它只是提供服务-->
        <netTcpBinding>
          <binding name="NetTcpBinding_IChatService" sendTimeout="00:00:05" >
            <reliableSession enabled="true" />
            <security mode="None" />
          </binding>
        </netTcpBinding>
      </bindings>
    </system.serviceModel>
</configuration>